/* start global rules */

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition-duration: 0.3s;
  --main-text-color: #666;
  --main-text-color-alt: #fafafa;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cairo', sans-serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-transform: uppercase;
  margin: 0px auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition-duration);
}

.main-title:hover {
  color: white;
  border: 2px white solid;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}

.main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}

/* end global reules */
/* start header */

header {
  background-color: white;
  box-shadow: 0px 0px 10px #ddd;
  -webkit-box-shadow: 0px 0px 10px #ddd;
  -moz-box-shadow: 0px 0px 10px #ddd;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo-name {
  font-size: 26px;
  color: var(--main-color);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}

@media (max-width: 767px) {
  header .logo-name {
    width: 100%;
    height: 50px;
  }
}

header .main-nav {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  header .main-nav {
    margin: 0 auto;
  }
}

header .main-nav > li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}

header .main-nav > li > a {
  color: black;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 18px;
  text-transform: capitalize;
  transition: var(--main-transition-duration);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    padding: 10px;
    height: fit-content;
    font-size: 14px;
    height: 40px;
  }
}

header .main-nav > li > a::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--main-transition-duration);
}

header .main-nav > li > a:hover::before {
  left: 0px;
}

header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--main-text-color-alt);
}

header .mega-menu {
  position: absolute;
  width: 100%;
  left: 50%;
  padding: 30px;
  background-color: white;
  border-bottom: 3px var(--main-color) solid;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 40px);
  transition: top var(--main-transition-duration),
    opacity var(--main-transition-duration);
  transform: translateX(-50%);
  opacity: 0;
}

@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0px;
    padding: 5px;
    top: 91px;
  }
}

header .mega-menu img {
  flex: 1;
  max-width: 100%;
}

@media (max-width: 992px) {
  header .mega-menu img {
    display: none;
  }
}

header .mega-menu ul {
  flex: 1;
  min-width: 250px;
}

header .mega-menu ul li {
  color: var(--main-color);
  position: relative;
  overflow: hidden;
}

header .mega-menu ul li::before {
  position: absolute;
  content: '';
  width: 0%;
  z-index: -1;
  height: 100%;
  background-color: var(--main-text-color-alt);
  left: 0px;
  top: 0px;
  transition: var(--main-transition-duration);
}

header .mega-menu ul li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

header .mega-menu ul li:hover::before {
  width: 100%;
}

@media (max-width: 767px) {
  header .mega-menu ul:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}

header .mega-menu ul li a {
  color: var(--main-color);
  font-size: 18px;
  padding: 15px;
  display: block;
  font-weight: bold;
  text-transform: capitalize;
}

header .mega-menu ul li a i {
  margin-right: 10px;
}

/* end header */
/* start landing */

.landing {
  position: relative;
}

.landing::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  top: -40px;
  left: 0;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
  padding-bottom: 120px;
}

.landing .text {
  flex: 1;
}

@media (max-width: 1000px) {
  .landing .text {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
}

.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}

.landing .text p {
  margin: 5px 0px 0px;
  font-size: 23px;
  line-height: 1.7;
  color: var(--main-text-color);
  max-width: 500px;
}

@media (max-width: 768px) {
  .landing .text p {
    font-size: 18px;
  }
}

.landing img {
  width: 600px;
  flex: 1;
  position: relative;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 1000px) {
  .landing img {
    display: none;
  }
}

.landing .go-down {
  content: '';
  position: absolute;
  bottom: 30px;
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition-duration);
  animation: bouncing 1.5s infinite;
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

/* end landing */
/* start animation */

@keyframes up-and-down {
  0%,
  100% {
    top: 0px;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    bottom: 30px;
  }
  40%,
  60% {
    bottom: 45px;
  }
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
  }
}

/* end animation */
